[submodule "src/3rd/FunctionalPlus"]
	path = src/3rd/FunctionalPlus
	url = git@github.com:Dobiasd/FunctionalPlus.git
[submodule "src/3rd/cpp-httplib"]
	path = src/3rd/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
[submodule "src/3rd/filesystem"]
	path = src/3rd/filesystem
	url = git@github.com:gulrak/filesystem.git
[submodule "src/3rd/json"]
	path = src/3rd/json
	url = git@github.com:nlohmann/json.git
[submodule "src/3rd/spdlog"]
	path = src/3rd/spdlog
	url = git@github.com:gabime/spdlog.git
